.user_name{
  padding: 20px;
  margin:20px;
 border: 2px solid black;
 background-color: coral;

}
#hii{
    text-align: center;
  color: rgb(53, 54, 56);
  font-size: 1vw;
  font-weight: 800;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}